# ignore assemblies
#*.dll
#*.exe
# ignore debug info
*.pidb
*.mdb
# ignore project settings
*.userprefs
*.usertasks
# ignore test results
test-results/
dokan_sshfs/DokanSSHFS/bin/Debug/%ProgramFiles%\\b2brouter\\b2brouter.key.pub
dokan_sshfs/DokanSSHFS/bin/Debug/\\b2brouter\\b2brouter.key.pub
